<%
    let daBoxStyle;
    let daButtonStyle;
    if(sitestyles.productlist == 1) {
        daBoxStyle = "bg-theme boxshadowlight productbox bd-theme";
        daButtonStyle = "btn-dark";
    } else if(sitestyles.productlist == 2) {
        daBoxStyle = "bg-dark boxshadowlight productbox bd-theme";
        daButtonStyle = "btn-theme";
    } else if(sitestyles.productlist == 3) {
        daBoxStyle = "bg-dark productbox bd-theme";
        daButtonStyle = "btn-theme";
    } else if(sitestyles.productlist == 4) {
        daBoxStyle = "bg-dark productbox";
        daButtonStyle = "btn-theme";
    } else {
        daBoxStyle = "bg-theme productbox";
        daButtonStyle = "btn-dark";
    };
%>

<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Shop - <%= sitesettings.sitename %></title>
        <meta property="og:title" content="Shop - <%= sitesettings.sitename %>" />
        <link rel="icon" href="/assets/logo.png">
        <meta property="og:image" content="/assets/logo.png">
        <meta name="theme-color" content="<%= sitesettings.sitecolor %>">
        <meta name="description" content="<%= sitesettings.sitedesc %>" />
        <meta property="og:type" content="website" />
        <meta property="og:description" content="<%= sitesettings.sitedesc %>" />
    </head>
    <body>
        <%- include('_header') %>
        <div class="container">
            <h1>Our Products</h1>
            <p>Check out what we are selling below!</p>
            <br>
            <% if(sitestyles.productsearch) { %>
                <form action="/search" method="post">
                    <div class="input-group mb-3 searchgroup">
                        <input type="text" class="form-control searchbox" name="search" placeholder="Search something..." required>
                        <button class="btn btn-theme" type="submit"><i class="fa-solid fa-magnifying-glass"></i> Search</button>
                    </div>
                </form>
            <% }; %>
            <div class="w-100" style="padding: 1em; border-radius: 1em; background-color: #111111;">
                <h2 class="mb-3"><i class="fa-solid fa-filter"></i> Sorting Options</h2>
                <div class="row justify-content-center">
                    <div class="col-lg-2 mb-2">
                        <button onclick="switchProductDisplay('productsDefault')" class="btn btn-theme sortingbuttonsshop w-100"><i class="fa-solid fa-tag"></i> Default</button>
                    </div>
                    <div class="col-lg-2 mb-2">
                        <button onclick="switchProductDisplay('productsRandom')" class="btn btn-theme sortingbuttonsshop w-100"><i class="fa-solid fa-shuffle"></i> Random</button>
                    </div>
                    <div class="col-lg-2 mb-2">
                        <button onclick="switchProductDisplay('productsNameAsc')" class="btn btn-theme sortingbuttonsshop w-100"><i class="fa-solid fa-arrow-up"></i> Name</button>
                    </div>
                    <div class="col-lg-2 mb-2">
                        <button onclick="switchProductDisplay('productsNameDesc')" class="btn btn-theme sortingbuttonsshop w-100"><i class="fa-solid fa-arrow-down"></i> Name</button>
                    </div>
                    <div class="col-lg-2 mb-2">
                        <button onclick="switchProductDisplay('productsPriceH2L')" class="btn btn-theme sortingbuttonsshop w-100"><i class="fa-solid fa-arrow-up"></i> Price</button>
                    </div>
                    <div class="col-lg-2 mb-2">
                        <button onclick="switchProductDisplay('productsPriceL2H')" class="btn btn-theme sortingbuttonsshop w-100"><i class="fa-solid fa-arrow-down"></i> Price</button>
                    </div>
                    <% if(storetags.length > 0) { %>
                        <hr>
                        <h2 class="mb-3"><i class="fa-solid fa-tag"></i> Store Tags</h2>
                        <% storetags.forEach(function(item) { %>
                            <div class="col-lg-2 mb-2">
                                <a href="/searchtag/<%= item.uniqueid %>" class="btn btn-outline-theme sortingbuttonsshop w-100"><i class="fa-solid fa-tag"></i> <%= item.name %></a>
                            </div>
                        <% }); %>
                    <% }; %>
                </div>
            </div>
            <hr>
            <br>
            <div class="row justify-content-center" style="display: flex;" id="productsDefault">
                <% products.sort((a, b) => { return a.pos - b.pos; }).forEach(function(item) { %>
                    <div class="col-lg-4">
                        <div class="<%= daBoxStyle %>">
                            <% if(item.isCategory) { %>
                                <img src="/images/storecat_<%= item.uniqueid %>.png" class="productimagelist" loading="lazy" alt="">
                                <p class="text-start producttitlelist"><%= item.name %></p>
                                <p class="text-start mt-4 productpricelist">Click to view all products.</p>
                                <hr>
                                <a href="/shop/<%= item.link %>" class="btn btn-lg <%= daButtonStyle %> productbuttonlist"><i class="fa-solid fa-eye"></i> View Category</a>
                            <% } else { %>
                                <img src="/images/product_<%= item.uniqueid %>.png" class="productimagelist" loading="lazy" alt="">
                                <p class="text-start producttitlelist"><%= item.name %></p>
                                <p class="text-start productpricelist"><%= config.paymentSettings.currencySymbol %><%= item.price %></p>
                                <hr>
                                <a href="/shop/<%= item.link %>" class="btn <%= daButtonStyle %> productbuttonlist"><i class="fa-solid fa-eye"></i> View Product</a>
                                <% if(!item.paused) { %>
                                    <% if(Number(item.price) > 0) { %>
                                        <a href="/backend/addtocart/<%= item.uniqueid %>" class="btn <%= daButtonStyle %> productbuttonlist"><i class="fa-solid fa-cart-shopping"></i> Add to Cart</a>
                                    <% } else { %>
                                        <a href="/download/product/<%= item.uniqueid %>" class="btn <%= daButtonStyle %> productbuttonlist"><i class="fa-solid fa-download"></i> Download</a>
                                    <% }; %>
                                <% }; %>
                            <% }; %>
                        </div>
                    </div>
                <% }); %>
            </div>
            <div class="row justify-content-center" style="display: none;" id="productsRandom">
                <% products.sort(() =>  Math.random() - 0.5 ).forEach(function(item) { %>
                    <div class="col-lg-4">
                        <div class="<%= daBoxStyle %>">
                            <% if(item.isCategory) { %>
                                <img src="/images/storecat_<%= item.uniqueid %>.png" class="productimagelist" loading="lazy" alt="">
                                <p class="text-start producttitlelist"><%= item.name %></p>
                                <p class="text-start mt-4 productpricelist">Click to view all products.</p>
                                <hr>
                                <a href="/shop/<%= item.link %>" class="btn btn-lg <%= daButtonStyle %> productbuttonlist"><i class="fa-solid fa-eye"></i> View Category</a>
                            <% } else { %>
                                <img src="/images/product_<%= item.uniqueid %>.png" class="productimagelist" loading="lazy" alt="">
                                <p class="text-start producttitlelist"><%= item.name %></p>
                                <p class="text-start productpricelist"><%= config.paymentSettings.currencySymbol %><%= item.price %></p>
                                <hr>
                                <a href="/shop/<%= item.link %>" class="btn <%= daButtonStyle %> productbuttonlist"><i class="fa-solid fa-eye"></i> View Category</a>
                                <% if(!item.paused) { %>
                                    <% if(Number(item.price) > 0) { %>
                                        <a href="/backend/addtocart/<%= item.uniqueid %>" class="btn <%= daButtonStyle %> productbuttonlist"><i class="fa-solid fa-cart-shopping"></i> Add to Cart</a>
                                    <% } else { %>
                                        <a href="/download/product/<%= item.uniqueid %>" class="btn <%= daButtonStyle %> productbuttonlist"><i class="fa-solid fa-download"></i> Download</a>
                                    <% }; %>
                                <% }; %>
                            <% }; %>
                        </div>
                    </div>
                <% }); %>
            </div>
            <div class="row justify-content-center" style="display: none;" id="productsPriceL2H">
                <% products.sort((a, b) => { return Number(a.price) - Number(b.price); }).forEach(function(item) { %>
                    <div class="col-lg-4">
                        <div class="<%= daBoxStyle %>">
                            <% if(item.isCategory) { %>
                                <img src="/images/storecat_<%= item.uniqueid %>.png" class="productimagelist" loading="lazy" alt="">
                                <p class="text-start producttitlelist"><%= item.name %></p>
                                <p class="text-start mt-4 productpricelist">Click to view all products.</p>
                                <hr>
                                <a href="/shop/<%= item.link %>" class="btn btn-lg <%= daButtonStyle %> productbuttonlist"><i class="fa-solid fa-eye"></i> View Category</a>
                            <% } else { %>
                                <img src="/images/product_<%= item.uniqueid %>.png" class="productimagelist" loading="lazy" alt="">
                                <p class="text-start producttitlelist"><%= item.name %></p>
                                <p class="text-start productpricelist"><%= config.paymentSettings.currencySymbol %><%= item.price %></p>
                                <hr>
                                <a href="/shop/<%= item.link %>" class="btn <%= daButtonStyle %> productbuttonlist"><i class="fa-solid fa-eye"></i> View Category</a>
                                <% if(!item.paused) { %>
                                    <% if(Number(item.price) > 0) { %>
                                        <a href="/backend/addtocart/<%= item.uniqueid %>" class="btn <%= daButtonStyle %> productbuttonlist"><i class="fa-solid fa-cart-shopping"></i> Add to Cart</a>
                                    <% } else { %>
                                        <a href="/download/product/<%= item.uniqueid %>" class="btn <%= daButtonStyle %> productbuttonlist"><i class="fa-solid fa-download"></i> Download</a>
                                    <% }; %>
                                <% }; %>
                            <% }; %>
                        </div>
                    </div>
                <% }); %>
            </div>
            <div class="row justify-content-center" style="display: none;" id="productsPriceH2L">
                <% products.sort((a, b) => { return Number(b.price) - Number(a.price); }).forEach(function(item) { %>
                    <div class="col-lg-4">
                        <div class="<%= daBoxStyle %>">
                            <% if(item.isCategory) { %>
                                <img src="/images/storecat_<%= item.uniqueid %>.png" class="productimagelist" loading="lazy" alt="">
                                <p class="text-start producttitlelist"><%= item.name %></p>
                                <p class="text-start mt-4 productpricelist">Click to view all products.</p>
                                <hr>
                                <a href="/shop/<%= item.link %>" class="btn btn-lg <%= daButtonStyle %> productbuttonlist"><i class="fa-solid fa-eye"></i> View Category</a>
                            <% } else { %>
                                <img src="/images/product_<%= item.uniqueid %>.png" class="productimagelist" loading="lazy" alt="">
                                <p class="text-start producttitlelist"><%= item.name %></p>
                                <p class="text-start productpricelist"><%= config.paymentSettings.currencySymbol %><%= item.price %></p>
                                <hr>
                                <a href="/shop/<%= item.link %>" class="btn <%= daButtonStyle %> productbuttonlist"><i class="fa-solid fa-eye"></i> View Category</a>
                                <% if(!item.paused) { %>
                                    <% if(Number(item.price) > 0) { %>
                                        <a href="/backend/addtocart/<%= item.uniqueid %>" class="btn <%= daButtonStyle %> productbuttonlist"><i class="fa-solid fa-cart-shopping"></i> Add to Cart</a>
                                    <% } else { %>
                                        <a href="/download/product/<%= item.uniqueid %>" class="btn <%= daButtonStyle %> productbuttonlist"><i class="fa-solid fa-download"></i> Download</a>
                                    <% }; %>
                                <% }; %>
                            <% }; %>
                        </div>
                    </div>
                <% }); %>
            </div>
            <div class="row justify-content-center" style="display: none;" id="productsNameAsc">
                <% products.sort((a, b) => { return a.name.localeCompare(b.name); }).forEach(function(item) { %>
                    <div class="col-lg-4">
                        <div class="<%= daBoxStyle %>">
                            <% if(item.isCategory) { %>
                                <img src="/images/storecat_<%= item.uniqueid %>.png" class="productimagelist" loading="lazy" alt="">
                                <p class="text-start producttitlelist"><%= item.name %></p>
                                <p class="text-start mt-4 productpricelist">Click to view all products.</p>
                                <hr>
                                <a href="/shop/<%= item.link %>" class="btn btn-lg <%= daButtonStyle %> productbuttonlist"><i class="fa-solid fa-eye"></i> View Category</a>
                            <% } else { %>
                                <img src="/images/product_<%= item.uniqueid %>.png" class="productimagelist" loading="lazy" alt="">
                                <p class="text-start producttitlelist"><%= item.name %></p>
                                <p class="text-start productpricelist"><%= config.paymentSettings.currencySymbol %><%= item.price %></p>
                                <hr>
                                <a href="/shop/<%= item.link %>" class="btn <%= daButtonStyle %> productbuttonlist"><i class="fa-solid fa-eye"></i> View Category</a>
                                <% if(!item.paused) { %>
                                    <% if(Number(item.price) > 0) { %>
                                        <a href="/backend/addtocart/<%= item.uniqueid %>" class="btn <%= daButtonStyle %> productbuttonlist"><i class="fa-solid fa-cart-shopping"></i> Add to Cart</a>
                                    <% } else { %>
                                        <a href="/download/product/<%= item.uniqueid %>" class="btn <%= daButtonStyle %> productbuttonlist"><i class="fa-solid fa-download"></i> Download</a>
                                    <% }; %>
                                <% }; %>
                            <% }; %>
                        </div>
                    </div>
                <% }); %>
            </div>
            <div class="row justify-content-center" style="display: none;" id="productsNameDesc">
                <% products.sort((a, b) => { return b.name.localeCompare(a.name); }).forEach(function(item) { %>
                    <div class="col-lg-4">
                        <div class="<%= daBoxStyle %>">
                            <% if(item.isCategory) { %>
                                <img src="/images/storecat_<%= item.uniqueid %>.png" class="productimagelist" loading="lazy" alt="">
                                <p class="text-start producttitlelist"><%= item.name %></p>
                                <p class="text-start mt-4 productpricelist">Click to view all products.</p>
                                <hr>
                                <a href="/shop/<%= item.link %>" class="btn btn-lg <%= daButtonStyle %> productbuttonlist"><i class="fa-solid fa-eye"></i> View Category</a>
                            <% } else { %>
                                <img src="/images/product_<%= item.uniqueid %>.png" class="productimagelist" loading="lazy" alt="">
                                <p class="text-start producttitlelist"><%= item.name %></p>
                                <p class="text-start productpricelist"><%= config.paymentSettings.currencySymbol %><%= item.price %></p>
                                <hr>
                                <a href="/shop/<%= item.link %>" class="btn <%= daButtonStyle %> productbuttonlist"><i class="fa-solid fa-eye"></i> View Category</a>
                                <% if(!item.paused) { %>
                                    <% if(Number(item.price) > 0) { %>
                                        <a href="/backend/addtocart/<%= item.uniqueid %>" class="btn <%= daButtonStyle %> productbuttonlist"><i class="fa-solid fa-cart-shopping"></i> Add to Cart</a>
                                    <% } else { %>
                                        <a href="/download/product/<%= item.uniqueid %>" class="btn <%= daButtonStyle %> productbuttonlist"><i class="fa-solid fa-download"></i> Download</a>
                                    <% }; %>
                                <% }; %>
                            <% }; %>
                        </div>
                    </div>
                <% }); %>
            </div>
        </div>
        <%- include('_footer') %>
        <script>
            function switchProductDisplay(prodId) {
                var productsDefault = document.getElementById('productsDefault');
                var productsRandom = document.getElementById('productsRandom');
                var productsPriceL2H = document.getElementById('productsPriceL2H');
                var productsPriceH2L = document.getElementById('productsPriceH2L');
                var productsNameAsc = document.getElementById('productsNameAsc');
                var productsNameDesc = document.getElementById('productsNameDesc');
                var el = document.getElementById(prodId);
                productsDefault.style.display = "none";
                productsRandom.style.display = "none";
                productsPriceL2H.style.display = "none";
                productsPriceH2L.style.display = "none";
                productsNameAsc.style.display = "none";
                productsNameDesc.style.display = "none";
                el.style.display = "flex";
            };
        </script>
    </body>
</html>
